{{ partial "header.html" . }}

<header>
  	{{ range .Params.tags }}
  		<a href="https://schollz.github.io/tags/{{.}}/" class="w3-tag">{{.}}</a>
  	{{end}}
</header>

<article>
<h1>{{ .Title }}</h1>
{{ .Content }}
</article>

{{ if (eq .Type "post") }}
<footer>
	<p><small><em>Written {{ .Date.Format "January 2, 2006"}}.</em></small></p>

	<p><small>Leave a comment for me on Twitter <a  href="https://twitter.com/intent/tweet?text=%40yakcar%20%23{{ replace (.URL) "/" "" }}%20">@yakczar</a>.</small></p>

<!-- 	<p>
	{{ if .PrevInSection }}<a href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>&nbsp;{{end}}{{ if .NextInSection }}<a href="{{ .NextInSection.URL }}" style="float:right;">{{ .NextInSection.Title }} →</a>{{ end }}
	</p> -->

</span>

</footer>
{{ end }}






{{ partial "footer.html" . }}
