{{ partial "header.html" . }}


<div class="content">
	<h1>{{ .Title }} <aside>{{ range .Params.tags }}<a href="https://schollz.github.io/tags/{{.}}/" class="w3-tag">/{{.}}</a>&nbsp;{{end}} </aside></h1>
	{{ .Content }}
</div>


{{ if (eq .Type "post") }}
<footer>
	<p><small><em>Written {{ .Date.Format "January 2, 2006"}}. </em> Leave a comment for me on Twitter <a  href="https://twitter.com/intent/tweet?text=%40yakcar%20%23{{ replace (.URL) "/" "" }}%20">@yakczar</a>.</small></p>

	<p>
	{{ if .PrevInSection }}<a href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>&nbsp;{{end}}{{ if .NextInSection }}<a href="{{ .NextInSection.URL }}" style="float:right;">{{ .NextInSection.Title }} →</a>{{ end }}
	</p>

</span>

</footer>
{{ end }}






{{ partial "footer.html" . }}
