{{ partial "header.html" . }}

{{ if or (eq .Type "post") }}
 <h1>{{ .Title }}</h1>
{{ end }}
{{ .Content }}

<footer>
	<p><em><small>Written {{ .Date.Format "January 2, 2006"}}.</em> Leave a comment for me on Twitter <a  href="https://twitter.com/intent/tweet?text=%40yakcar%20%23{{ replace (.URL) "/" "" }}%20">
@yakczar</a>.</small></p>
</footer>

<a href="{{ .PrevInSection.URL }}">← {{ .PrevInSection.Title }}</a>&nbsp;<a href="{{ .NextInSection.URL }}" style="float:right;">{{ .NextInSection.Title }} →</a>

{{ partial "footer.html" . }}
