{{ partial "header.html" . }}
<style>
ul {
  list-style-type: none;
}
.w3-tag{
	background-color:#808080;
	color:#fff;
	display:inline-block;
	padding-left:4px;
	padding-right:4px;
	text-align:center; 
	font-style: normal;
}

.b {
    font-style: italic;
}

.lh-title {
    line-height: 1.35;
}

.ml0 {
    margin-left: 0;
}

.mt0 {
    margin-top: 0;
}

.mt2 {
    margin-top: 1rem;
}

.f6 {
    font-size: .875rem;
}

</style>


	

<dl class="lh-title mt0">
{{ range first 100000 .Pages }}
{{ if eq .Type "post"}}
  <dt class="f6 b mt2">{{ .Date.Format "January 2, 2006"}} - 
  	{{ range .Keywords }}
  		<span class="w3-tag">{{.}}</span>
  	{{end}}
  </dt>
  <dd class="ml0">
	<a href="{{ .Permalink }}">{{ .Title }}</a>
  </dd>
{{ end }}
{{ end }}
</dl>


{{ partial "footer.html" . }}