{{ partial "header.html" . }}
<style>
ul {
  list-style-type: none;
}
.w3-badge,.w3-tag{background-color:#808080;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}

</style>
  {{ range first 100000 .Pages }}
    {{ if eq .Type "post"}}
      <p><div style="min-width: 120px; float: right;"><small>{{ range .Keywords }}<span class="w3-tag">{{.}}</span>{{end}}</small></div><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;<small>{{ .Date.Format "January 2, 2006"}}</small></p>
    {{ end }}
  {{ end }}
{{ partial "footer.html" . }}